@import url('https://fonts.googleapis.com/css?family=Rajdhani');
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #070b11;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.69rem;
  letter-spacing: 0.1rem;
}
.email-input{
  padding: 10px;
  margin: auto 5px;
  background-color: #fbffef;
  
}

img {
  max-width: 100%;
}

button {
  border: 1px solid darkslategrey;
  color: white;
}

#stage {
  background: url('../../assets/sunset-197176.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 79vh;
  width: 100%;
  display: flex;
  align-items: center;
}

#stage-content {
  font-size: 1.2rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

#stage-content>h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 0.12rem;
}

#stage-content>p {
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 0.099rem;
  font-size: 24px;
}

.card-block {
  padding: 5px 0;
  font-size: 15px;
}

.container ul {
  margin: 0;
  padding: 15px 0;
  text-align: center;
}

.container ul li {
  display: inline-block;
  list-style-type: none;
  margin: 12px 12px 12px 12px;
  text-align: center;
  cursor: pointer;
  color: cornflowerblue;
}

.container ul li:hover {
  color: #315184;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.card {
  margin: 5px;
  width: 33.3333333%;
  padding: .70rem;
  border: 1px solid aliceblue;
  min-width: 317px;
  max-width: 370px;
}
.card-blog{
	cursor: pointer;
}

@media screen and (max-width: 900px) {
  #stage-caption h1 {
    font-size: 30px;
  }
  #stage-caption p {
    font-size: 16px;
  }
}
