<body>
  <script>
    
  </script>
  <div id="container">
    <header>
      <div id="headercontainer">
      </div>
      <section id="square">
        <h1>Welcome to Haters Clique: A community of haters, by haters, for haters!</h1>
        <p>We are haters and trolls who dream of changing the world one hate at a time!!!</p>
        <div id="inputs">
          <button type="button">Subscribe</button>
          
          <button id="register"><a style="color:black; text-decoration:none;" routerLink = "register">Register</a></button>



        </div>
        <p>Register and start contributing to the hate</p>

      </section>
    </header>

    <main>
      <section id="navitems">

        <ul>
          <li><a href="#">#People</a></li>
          <li><a href="#">#Corrporations</a></li>
          <li><a href="#">#Politics</a></li>
          <li><a href="#">#Education</a></li>
          <li><a href="#">#Media</a></li>
          <li><a href="#">#Celebrity</a></li>
          <li><a href="#">#Music</a></li>
          <li><a href="#">#Video</a></li>
        </ul>
        <div id="line"></div>
      </section>

      <!--this is where the blogs go-->

      <section id="blogs">



      </section>
      <section id="blue">
        <div class="log">
          <div style="height:60px">

          </div>
          <h2>Login to post</h2>
          <p>Join the growing haters and trolls community on the web</p>

          <div>
            <input type="text" placeholder="Email or Username">
            <input type="password" placeholder="Password">

            <input type="button" value=" Sign in " style="font-size:15px; background: rgba(10, 45, 55,.9); color:white; border:none;">
          </div>
         

        </div>
        <div class="log">
          <div style="height:69px">

          </div>
          <h2 style="margin:0;">Subscribe</h2>
          <p>Sub to get the latest stories</p>
          <div>
            <input type="text" placeholder="Email">
            <input type="button" value=" subscribe " style="font-size:15px; background: rgba(10, 45, 55,.9); color:white; border:none;">

          </div>
          <div style="margin-top:20px">

          </div>


        </div>

      </section>
    </main>
    <footer>


      <div id="first1">
        <h2>Haters Clique</h2>

      </div>

      <div id="second">
        <div class="one">
          <h4>Guide</h4>
          <ul>
            <li>Registration</li>
            <li>Store Locations</li>
            <li>Contact Us</li>
            <li>About Us</li>
            <li>Privacy Policy</li>

          </ul>
        </div>

        <div class="one" id="career">
          <h4>Career</h4>
          <ul>

            <li>Developers</li>
            <li>Marketing Specialist</li>
            <li>Sales Representative</li>
            <li>Media Relations Specialist</li>
            <li>Sell on Startupstation.com</li>


          </ul>
        </div>
        <div class="one">
          <h4>Payments Methods</h4>
          <ul>
            <li>Credit Cards</li>
            <li>Mobile Payments</li>
            <li>Paypal</li>

          </ul>
        </div>
        <div class="one">
          <h4>Company</h4>
          <ul>
            <li>Privacy & Security</li>
            <li>Terms of Use</li>
            <li>Other Programs</li>

          </ul>
        </div>
      </div>

      <p>© 2017, Hater. All Rights Reserved.</p>
    </footer>
  </div>
</body>
