<div class="contain">
  <div class="empty">

  </div>

  <div class="top">
    <h3>Sign in</h3>
    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
  </div>
  <div class="bottom">
    <div style="height:10px;">

    </div>
    <div class="image">

      <img src="http://maxpixel.freegreatpicture.com/static/photo/1x/Avatar-Grey-Account-User-Person-Operating-System-1699635.png"
        alt="user">
    </div>
    <form [formGroup]="form" (submit)="onLoginSubmit()">
      <div class="form">

        <div style=" margin: auto auto 5px auto" class="row show-hide-message">
          <div style="width:100%; margin: auto" [ngClass]="messageClass">
            {{message}}
          </div>
        </div>

        <label for="username"><i class="fa fa-user-o" aria-hidden="true"></i> Username</label>
        <div class="input">
          <input type="text" id="username" placeholder="" formControlName="username">
        </div>
      </div>

      <div class="form">
        <label for="password"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                 password</label>
        <div class="input">
          <input type="password" id="password" placeholder="" formControlName="password">
        </div>
      </div>
      <div>
        <button style="width:100%; margin:8px auto" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Signin</button>
      </div>
      <div class="signup">
        <a [routerLink]="['/register']">Register</a>
      </div>
    </form>
    <div class="empty">

    </div>

  </div>
  <div class="empty">

  </div>

</div>
