.text-center{
    margin: 10px;
}
.row{
    margin-left: 1px;
}
.jumbotron{
    margin: 0;
}


@media screen and (max-width: 800px){
    .form-group{
        flex-direction: column;
    }
   
    label{
        white-space: nowrap;
    }
}