.card-block {
  padding: 5px 0;
  font-size: 15px;
}
img {
  max-width: 100%;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.card {
  margin: 5px;
  width: 33.3333333%;
  padding: .70rem;
  border: 1px solid aliceblue;
  min-width: 317px;
  max-width: 370px;
}
.card-blog{
	cursor: pointer;
}