@import url('https://fonts.googleapis.com/css?family=Rajdhani');

/*--------------------footer----------------*/
footer {
    background-color:black;
    font-family: 'Rajdhani', sans-serif;
}
footer #first1{
    height: 50px;
    background-color: #15171c;
}
footer #first1 h2{
	margin: 0;
	padding: 6px 0 0 60px;
	color: gray;
}
footer p{
	margin: 40px auto 0 auto;
	text-align: center;
	color: gray;
}

@media screen and (max-width: 700px){
    footer #first1 h2{
		text-align: center;
		padding-right: 35px;
	}


}