<div class="contain">
  <div class="empty">

  </div>

  <div class="top">
    <h3>Sign up</h3>
    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
  </div>
  <div class="bottom">
    <div style="height:10px;">

    </div>
    <form>
      <div class="form">
        <label for="firstname"> Firstname: </label>
        <div class="input">
          <input type="text" id="firstname" placeholder="">
        </div>
      </div>
      
      <div class="form">
        <label for="lastname">
                 Lastname: </label>
        <div class="input">
          <input type="text" id="lastname" placeholder="">
        </div>
      </div>
      <div class="form">
        <label for="username">
                 Username: </label>
        <div class="input">
          <input type="text" id="username" placeholder="">
        </div>
      </div>
      <div class="form">
        <label for="password">
                 Password: </label>
        <div class="input">
          <input type="password" id="password" placeholder="">
        </div>
      </div>
      <div class="form">
        <label for="password1">
                 Verify password: </label>
        <div class="input">
          <input type="password" id="password" placeholder="">
        </div>
      </div>
      <div class="form">
        <label for="email">
                 Email: </label>
        <div class="input">
          <input type="email" id="email" placeholder="">
        </div>
      </div>
      <div>
        <button style="width:100%; margin:8px auto" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Signin</button>
      </div>
      
    </form>
    <div class="empty">

  </div>

  </div>

</div>