.contain {
  margin: 0;
  padding: 0;
}

.top {
  height: 80px;
  width: 45%;
  background-color: #466368;
  min-width: 317px;
  color: white;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

form {
  margin: 20px 40px 20px 40px;
}

.empty {
  height: 57px;
}

.bottom {
  width: 45%;
  min-width: 317px;
  background-color: #edd195;
  margin: auto auto 20px auto;
  align-items: center;
  border: 2px solid #466368;
}

a {
  font-size: 15px;
}
ul{
  color:#f44b42;
}
input {
  width: 100%;
  margin-bottom: 10px;
  height: 37px;
  border-radius: 5px;
  border: 1px solid #466368;
}

button {
  height: 37px;
  border-radius: 5px;
  background-color: #466368;
  border: 1px solid #466368;
  color: white;
}

.signup {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width:500px) {
  .empty {
    height: 20px;
  }
}
